.page-header-see2learn {
	color: #4ABDAC;
	padding-bottom: 9px;
  	margin: 40px 0 20px;
  	border-bottom: 1px solid #eee;
}

.panel-heading-see2learn {
	padding: 10px 15px;
  	border-bottom: 1px solid transparent;
  	border-top-left-radius: 3px;
  	border-top-right-radius: 3px;
  	background-color: #F7B733;
}

.btn-default-see2learn {
	color: #fff;
  	background-color: #FC4A1A;
  	border-color: #ccc;
}

.btn-default-see2learn-warning {
  color: #fff;
    background-color: #000;
    border-color: #ccc;
}

.btn-lg-see2learn, .btn-group-lg > .btn{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  background-color: #FC4A1A;
}

.btn-lg-see2learn-warning, .btn-group-lg > .btn{
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  background-color: #000;
}

.btn-default-see2learn:hover{
	color: #333;
  	background-color: #F7B733;
  	border-color: #adadad; 
}

.btn-default-see2learn-warning:hover{
  color: #fff;
    background-color: #d50000;
    border-color: #adadad; 
}

.well-see2learn {
	min-height: 20px;
  	padding: 19px;
  	margin-bottom: 20px;
  	background-color: #4ABDAC;
  	border: 1px solid #e3e3e3;
  	border-radius: 4px;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.well-see2learn2 {
  min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #F7B733;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.panel-default-see2learn > .panel-heading-see2learn {
  color: #333;
  background-color: #4ABDAC;
  border-color: #ddd;
}

.panel-default-see2learn2 > .panel-heading-see2learn {
  color: #333;
  background-color: #4ABDAC;
  border-color: #ddd;
}

.panel-default-see2learn:hover > .panel-heading-see2learn {
  color: #333;
  background-color: #F7B733;
  border-color: #ddd;
}

.panel-heading-see2learn > .dropdown .dropdown-toggle {
  color: #000;
}

.panel-title-see2learn{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: #000;
}

.panel-see2learn {
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.card-see2learn label {
  font-size: 14px;
  font-weight: bold;
  color: #4ABDAC;
  margin-bottom: 0px;
}